:root {
    
}

html {
    font-size: 16px;   
    line-height: 4px;     
    margin: 0;
    padding: 0;    
    background-color: #fff;
    color: #111;

    scroll-behavior: smooth;       
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;        
}



@media (min-width: 600px) {
    body {

    }

}



@media (min-width: 900px) {
        body {

    }

}



@media (min-width: 1200px) {
        body {

    }

}



@media (min-width: 1500px) {
        body {

    }

}